<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	
	<session-factory>
	
		<!-- Database connection settings -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">com.bionme.dialect.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:D:\DMS.sqlite3</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!--  <mapping resource="com.bionme/resources/data.hfm.xml"></mapping> -->
		
		<mapping class="com.bionme.form.dataform"/>
	
	</session-factory>
</hibernate-configuration>
